# Intro to Python

This is my first Python cell! Yay me!
**BENNETH**

To create a cell above a selected cell - press 'a', to create a cell below the selected cell - press 'b'.

To run a cell press SHIFT+ENTER.

In [1]:
#this is a Python comment
print("Hello World!")

Hello World!

In [14]:
x = 8
y = 8

In [6]:
print(y)

8

An example of `if` statement. All the commands belonging to the if-branch must be correctly indented.

In [15]:
if x > 7:
    print("greater") 
print("martina")
print("hello")

greater
martina
hello

Use `input()` to read data from the user.

In [16]:
num = int(input( 'Enter a number: '))

Enter a number: 3

An example of `if`, `else` and `elif`

In [17]:
if num < 0:
    print(num, 'is negative')
elif num > 0:
    print(num, ' is positive')
else:
    print (num, 'is zero')

3  is positive

Using `if` in expression

In [19]:
result = -1 if num < 0 else 1
result

1

## Data Types

Everything is an object and every value has a datatype. Key native datatypes:
 - boolean
 - numbers - integers, flaots, fractions, complex numbers
 - string
 - bytes and byte arrays
 - lists
 - tuples
 - sets
 - dictionaries

### Mathematical operations

In [25]:
a = 5
b = 6
print(a+b)
print(a-b)
print(a*b)

c = a/b
print(type(c))

d = a//b
print(type(d))

11
-1
30
<class 'float'>
<class 'int'>

### Strings

In [29]:
A = 'Hello'
B = 'World'
C = A + " " + B
print(C)

Hello World

Lenght of string `len()`

In [30]:
print(len(C))

11

Access character on a certain position

In [40]:
C[7]

'o'

Locate the position of the first occurence of a particular character - `index()`

In [31]:
C.index('o')

4

We can count occurence of a character - `count()`

In [32]:
C.count('l')

3

Changing the case of the characters

In [33]:
C.upper()

'HELLO WORLD'

In [34]:
C.lower()

'hello world'

Testing occurence of characters at the beginning or end

In [36]:
C.lower().endswith('rld')

True

In [38]:
C.upper().startswith('HEL')

True

#### Slicing

In [39]:
a = 'hello everyone'

In [41]:
print(a[2:6])

llo

Start and end position and the step size can be omitted

In [42]:
print(a[:7])

hello e

In [43]:
print(a[3:])

lo everyone

In [44]:
print(a[::2])

hloeeyn

2 common sliced: 
- everything except the last element
- exactly the last element

In [45]:
print(a[:-1])

hello everyon

In [46]:
print(a[-1:])

e

#### Splitting Strings

In [48]:
b = "Accra is the most densely populated city in Ghana."
newb = b.split(sep=" ")
print(newb)

['Accra', 'is', 'the', 'most', 'densely', 'populated', 'city', 'in', 'Ghana.']

## Collections of data

Different types available:
- **list** - mutable collection of any type
- **tuple** - an immutable collection
- **range** - immutable collection of integers
- **dictionary** - key value pairs

### Lists

In [49]:
list1 = []
print(list1)

[]

In [51]:
list2 = [2, 4, 6]
list3 = [7.89, 'martina', [1,2,3]]

Accessing elements of a list using `[]`

In [52]:
list2[0]

2

In [53]:
list2[15]

IndexError: list index out of range

In [54]:
list3[1]
#how would you make it print out 't'?

'martina'

In [56]:
list3[2] = [1,2,3,4]
print(list3)

[7.89, 'martina', [1, 2, 3, 4]]

In [57]:
#slicing a list
list4 = [1,2,3,4,5,6,7,8,9]
list4[-1:]

[9]

In [59]:
list4.append('hello')
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello', 'hello']

In [60]:
list4.insert(0,'oi')
print(list4)

['oi', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello', 'hello']

In [61]:
#deleting items
list4.pop()

'hello'

In [62]:
list4.pop(0)

'oi'

In [63]:
#retrieving index
list4.index(8)

7

In [64]:
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello']

### Tuples

In [67]:
tuple1 = ()
print(tuple1)

()

In [69]:
tuple2 = (2,)
print(type(tuple2))

<class 'int'>

In [71]:
tuple3 = (1, 5.678, 'martina')
print(tuple3)

(1, 5.678, 'martina')

In [72]:
print(tuple3[2])

martina

In [73]:
tuple4 = (1,2,4,5,6,7,8,9)
print(tuple4[4:7])

(6, 7, 8)

In [74]:
tuple4[1]= 'martina'

TypeError: 'tuple' object does not support item assignment

In [75]:
tuple5 = a, b, c
print(tuple5)
print(type(tuple5))

('hello everyone', 'Accra is the most densely populated city in Ghana.', 0.8333333333333334)
<class 'tuple'>

### Sets

In [77]:
set1 = {}
print(set1)
print(type(set1))

{}
<class 'dict'>

In [78]:
set2 = {1,2,3,3,3,3}
print(set2)

{1, 2, 3}

In [80]:
set2.add(4)
set2

{1, 2, 3, 4}

In [84]:
set3 = {3, 4, 5, 6, 7}
set4 = set2.intersection(set3)
print(set4)

{3, 4}

### Dictionaries

In [85]:
dict1 = {1: 'USD', 2:'EUR', 3: "JPY"}
print(dict1)

{1: 'USD', 2: 'EUR', 3: 'JPY'}

In [86]:
dict2 = {1: 'martina', 'Ghana': 'Accra'}
print(dict2)

{1: 'martina', 'Ghana': 'Accra'}

In [87]:
dict2[1]

'martina'

## Iteration

In [88]:
#over a list
print(b)

Accra is the most densely populated city in Ghana.

In [90]:
list1 = b.split()
for word in list1:
    print(word)

Accra
is
the
most
densely
populated
city
in
Ghana.

In [92]:
#over a dictionary
print(dict1)

{1: 'USD', 2: 'EUR', 3: 'JPY'}

In [93]:
for item in dict1.items():
    print(item)

(1, 'USD')
(2, 'EUR')
(3, 'JPY')

In [94]:
for k,v in dict1.items():
    print(v)

USD
EUR
JPY

Using `else` with `for` statement

In [104]:
print('Only print code if all iterations completed')
num = int(input('Enter a number to check:'))

Only print code if all iterations completed
Enter a number to check:3

In [105]:
for i in [1,2,3,4]:
    if i == num :
        break
    print(i, ' ', end= '')
else:
    print('All iterations successful')

1  2

### Comprehensions

In [97]:
list1 = [1,2,4,5,76,8,0,45]
print(list1)

[1, 2, 4, 5, 76, 8, 0, 45]

In [100]:
list2 = [el + 1 for el in list1]
print(list2)

[2, 3, 5, 6, 77, 9, 1, 46]

In [101]:
#also available for tuples and ranges
first9squares = [x*x for x in range(1,10,1)]
print(first9squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Functions

In [106]:
def addition(a,b):
    return a+b

c = addition(2,3)
print(c)

5

In [107]:
#lambda functions
double = lambda x: x*2

res = double(4)
print(res)

8