# Intro to Python

This is my first Python cell! Yay me!
**BENNETH**

To create a cell above a selected cell - press 'a', to create a cell below the selected cell - press 'b'.

To run a cell press SHIFT+ENTER.

In [1]:
#this is a Python comment
print("Hello World!")

Hello World!

In [3]:
x = 8
y = 8
x

8

In [9]:
print(y)
x = "martina"
x = 5
print(x)

8
5

An example of `if` statement. All the commands belonging to the if-branch must be correctly indented.

In [12]:
if x > 7:
    print("greater") 
    print("martina")
    print("hello")
else:
    print("not greater than 7")

not greater than 7

Use `input()` to read data from the user.

In [13]:
num = int(input( 'Enter a number: '))

num2 = int('87')

Enter a number: 9

An example of `if`, `else` and `elif`

In [14]:
if num < 0:
    print(num, 'is negative')
elif num > 0:
    print(num, ' is positive')
else:
    print (num, 'is zero')

9  is positive

Using `if` in expression

In [16]:
result = -1 if num < 0 else 1
result

1

In [19]:
var:int = 9
var = 'hello'
print(var)

hello

## Data Types

Everything is an object and every value has a datatype. Key native datatypes:
 - boolean
 - numbers - integers, floats, fractions, complex numbers
 - string
 - bytes and byte arrays
 - lists
 - tuples
 - sets
 - dictionaries

### Mathematical operations

In [23]:
a = 5
b = 6
print(a+b)
print(a-b)
print(a*b)

c = a/b
print(type(c))

d = a//b
print(type(d))
print(d)

e = a%b
print(e)

11
-1
30
<class 'float'>
<class 'int'>
0
5

In [25]:
f = 'fgh'

print(a*f)

fghfghfghfghfgh

### Strings

In [27]:
A = 'Hello'
B = 'World'
C = A + " " + B
print(C)

Hello World

Lenght of string `len()`

In [28]:
print(len(C))

11

Access character on a certain position

In [30]:
print(C)

Hello World

In [32]:
C[7]

'o'

Locate the position of the first occurence of a particular character - `index()`

In [35]:
C.index('o')

4

We can count occurence of a character - `count()`

In [36]:
C.count('l')

3

Changing the case of the characters

In [37]:
C.upper()

'HELLO WORLD'

In [38]:
C.lower()

'hello world'

Testing occurence of characters at the beginning or end

In [36]:
C.lower().endswith('rld')

True

In [38]:
C.upper().startswith('HEL')

True

#### Slicing

In [40]:
a = 'hello everyone'
print(a)

hello everyone

In [45]:
print(a[2:8:2])

loe

Start and end position and the step size can be omitted

In [46]:
print(a[:7:2])

hloe

In [43]:
print(a[3:])

lo everyone

In [44]:
print(a[::2])

hloeeyn

In [48]:
b = a[:]
print(b)

hello everyone

2 common sliced: 
- everything except the last element
- exactly the last element

In [45]:
print(a[:-1])

hello everyon

In [49]:
print(a[-1:])

e

#### Splitting Strings

In [56]:
b = "Accra is the most densely populated city in Ghana."
newb = b.split("a")
print(newb)

['Accr', ' is the most densely popul', 'ted city in Gh', 'n', '.']

In [50]:
curr= "USD,GBP,JPY,EUR"
newcurr = curr.split(sep=',')
print(newcurr)

['USD', 'GBP', 'JPY', 'EUR']

## Collections of data

Different types available:
- **list** - mutable collection of any type
- **tuple** - an immutable collection
- **range** - immutable collection of integers
- **dictionary** - key value pairs
- **set** - unordered, mutable, only unique characters

### Lists

In [57]:
list1 = []
print(list1)
print(type(list1))

[]
<class 'list'>

In [58]:
list2 = [2, 4, 6]
list3 = [7.89, 'martina', [1,2,3]]
print(list3)

[7.89, 'martina', [1, 2, 3]]

Accessing elements of a list using `[]`

In [59]:
list2[0]

2

In [60]:
list2[15]

IndexError: list index out of range

In [64]:
list3 = [7.89, 'martina', [1,2,3]]
list3[2][2]
#how would you make it print out 't'?

3

In [65]:
#mutable
list3[2] = [1,2,3,4]
print(list3)

[7.89, 'martina', [1, 2, 3, 4]]

In [67]:
#slicing a list
list4 = [1,2,3,4,5,6,7,8,9]
list4[2:6]

[3, 4, 5, 6]

In [68]:
#add to the last position
list4.append('hello')
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello']

In [69]:
#adding element to a specified position
list4.insert(0,'oi')
print(list4)

['oi', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello']

In [70]:
#deleting items
list4.pop()

'hello'

In [72]:
list4.pop(0)
print(list4)

[2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
#retrieving index
list4.index(8)

6

In [74]:
print(list4)

[2, 3, 4, 5, 6, 7, 8, 9]

### Tuples

immutable, ordered

In [75]:
tuple1 = ()
print(tuple1)

()

In [78]:
#tuple with one element
tuple2 = (2,)
print(type(tuple2))

<class 'tuple'>

In [79]:
tuple3 = (1, 5.678, 'martina')
print(tuple3)

(1, 5.678, 'martina')

In [80]:
print(tuple3[2])

martina

In [81]:
tuple4 = (1,2,4,5,6,7,8,9)
print(tuple4[4:7])

(6, 7, 8)

In [82]:
tuple4[1]= 'martina'

TypeError: 'tuple' object does not support item assignment

In [84]:
tuple5 = a, b, c
print(tuple5)
print(type(tuple5))

('hello everyone', 'Accra is the most densely populated city in Ghana.', 0.8333333333333334)
<class 'tuple'>

In [86]:
tuple6 = (3,3,3,3,(5,6,7))
print(tuple6)

(3, 3, 3, 3, (5, 6, 7))

###Â Sets
mutable, unordered, only unique elements

In [87]:
set1 = {}
print(set1)
print(type(set1))

{}
<class 'dict'>

In [88]:
set2 = {1,2,3,3,3,3}
print(set2)

{1, 2, 3}

In [89]:
set2.add(4)
set2

{1, 2, 3, 4}

In [90]:
set3 = {3, 4, 5, 6, 7}
set4 = set2.intersection(set3)
print(set4)

{3, 4}

### Dictionaries
pairs of key+value

In [105]:
dict1 = {1: 'USD', 2:'EUR', 3: "JPY", 3: "GHS"}
print(dict1)
print(type(dict1))

{1: 'USD', 2: 'EUR', 3: 'GHS'}
<class 'dict'>

In [96]:
dict2 = {1: 'martina', 'Ghana': 'Accra', 'USA':['WashingtonDC', 'New York']}
print(dict2)

{1: 'martina', 'Ghana': 'Accra', 'USA': ['WashingtonDC', 'New York']}

In [97]:
dict2['USA'][0]

'WashingtonDC'

In [121]:
dict3 = dict2.copy()

dict3[1]="Ebuka"
print(dict3)
print(dict2)

{1: 'Ebuka', 'Ghana': 'Accra', 'USA': ['WashingtonDC', 'New York']}
{1: 'martina', 'Ghana': 'Accra', 'USA': ['WashingtonDC', 'New York']}

## Iteration

In [99]:
#over a list
print(b)
print(type(b))

Accra is the most densely populated city in Ghana.
<class 'str'>

In [101]:
list1 = b.split()
for elem in list1:
    print(elem)

Accra
is
the
most
densely
populated
city
in
Ghana.

In [102]:
#over a dictionary
print(dict1)

{1: 'USD', 2: 'EUR', 3: 'JPY'}

In [103]:
for item in dict1.items():
    print(item)

(1, 'USD')
(2, 'EUR')
(3, 'JPY')

In [104]:
for k,v in dict1.items():
    print(v)

USD
EUR
JPY

Using `else` with `for` statement

In [108]:
print('Only print code if all iterations completed')
num = int(input('Enter a number to check:'))

Only print code if all iterations completed
Enter a number to check:3

In [109]:
for i in [1,2,3,4]:
    if i == num :
        break
    print(i, ' ', end= '')
else:
    print('All iterations successful')

1  2

### Comprehensions

In [110]:
list1 = [1,2,4,5,76,8,0,45]
print(list1)

[1, 2, 4, 5, 76, 8, 0, 45]

In [113]:
list2 = [el+1 for el in list1]
print(list2)

[2, 3, 5, 6, 77, 9, 1, 46]

In [114]:
#also available for tuples and ranges
first9squares = [x*x for x in range(1,10,1)]
print(first9squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Functions

In [115]:
def addition(a,b):
    print(a)
    print(b)
    return a+b

c = addition(2,3)
print(c)

2
3
5

In [116]:
#lambda functions = anonymous functions
addition = lambda a,b: a+b

double = lambda x: x*2

res = double(4)
print(res)

8

In [117]:
res = addition(5,6)
print(res)

11